* {
  box-sizing: border-box;
}

nav {
  overflow: auto;
}
nav ul {
  display: none;
}
nav .hamb-label {
  position: relative;
  width: 70px;
  cursor: hand;
  float: right;
  padding: 20px;
}
nav .hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0.1s ease;
}
nav .hamb-line.line1 {
  top: 10px;
}
nav .hamb-line.line2 {
  top: 18px;
}
nav .hamb-line.line3 {
  top: 26px;
}
nav .hamb-checkbox {
  display: none;
}
nav .hamb-checkbox:checked ~ ul {
  z-index: 2;
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  clear: right;
}
nav .hamb-checkbox:checked ~ ul li {
  height: 40px;
  background-color: rgb(24, 92, 24);
}
nav .hamb-checkbox:checked ~ ul li:hover {
  background-color: orange;
}
nav .hamb-checkbox:checked ~ ul li:active {
  background-color: orange;
}
nav .hamb-checkbox:checked ~ .hamb-label .line1 {
  transform: rotate(45deg);
  top: 18px;
}
nav .hamb-checkbox:checked ~ .hamb-label .line2 {
  background-color: transparent;
}
nav .hamb-checkbox:checked ~ .hamb-label .line3 {
  transform: rotate(-45deg);
  top: 18px;
}

/* colors etc when is expanded */
nav ul {
  flex-direction: column;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
nav ul li {
  margin: 0 10px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  text-decoration: none;
  display: block;
  color: inherit;
}

header {
  border: 1px solid black;
  position: relative; /* for hamburger menu */
  min-width: 320px;
  background-color: #f7f7f5;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 40px 1fr min-content;
  grid-template-areas: "l c n";
  align-items: center;
}
header .logo {
  grid-area: l;
}
header .logo img {
  width: 40px;
}
header .h2 {
  grid-area: c;
  font-size: 1.4em;
  font-weight: 600;
}
header nav {
  grid-area: n;
}
header nav li {
  border: 1px solid black;
}
header h2, header p {
  margin: 0;
  padding: 0;
}
header a {
  color: inherit;
  text-decoration: none;
}

/*HEADER-TABLET-PC*/
@media screen and (min-width: 490px) {
  nav {
    overflow: hidden;
  }
  nav ul li {
    border: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .hamb-label {
    display: none;
  }
  .hamb-checkbox {
    display: none;
  }
  li > a {
    font-size: 1.2em;
  }
  a {
    text-decoration: none;
    color: black;
    transition: transform 0.5s, color 0.5s, font-size 0.5s;
  }
  nav a:hover {
    text-decoration: underline;
    color: orange;
    font-size: 1.3em;
  }
  header .logo img {
    position: absolute;
    margin: 0;
    top: 1px;
    width: 100px;
  }
  header {
    display: grid;
    position: relative;
    grid-template-columns: 100px 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: "l c " "n n ";
    background-color: #f7f7f5;
  }
  .logo {
    grid-area: l;
  }
  h2 {
    grid-area: c;
    font-size: 2.8em;
    font-weight: 600;
    align-self: flex-end;
    margin: 0;
    margin-top: 20px;
  }
  nav {
    grid-area: n;
    margin-left: 99px;
    margin-bottom: 0px;
    margin-top: 10px;
    height: 40px;
  }
}
@keyframes tran {
  from {
    text-decoration: none;
    color: black;
  }
  to {
    text-decoration: underline;
    color: orange;
    font-size: 1.3em;
  }
}
#con {
  animation: tran 1s ease-out forwards;
}

main {
  text-align: center;
}

.phone {
  display: flex;
  gap: 5px;
  align-items: center;
}
.phone img {
  width: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

.gmail {
  display: flex;
  display: flex;
  gap: 5px;
  align-items: center;
}
.gmail img {
  width: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pg h3 + h3 {
  margin-left: 90px;
}

h3 {
  font-size: 2em;
  color: orange;
}

p {
  font-size: 1.4em;
}
